nav {
    background-color: #231F20;
}

div#progress-bar {
    background: rgb(35,31,32);
    background: linear-gradient(90deg, rgba(35,31,32,1) 0%, rgba(35,31,32,0.49933476808692223) 50%, rgba(255,255,255,0) 100%);
}

div#progressBarQuery {
    background-color: transparent !important;
}

div.indeterminate {
    background-color: #ffd600 !important;
}

a.menu-item, i.nav-icon {
    color: white;
}

div.action-buttons {
    padding-top: 1rem !important;
}

.hover {
    cursor: pointer;
}

input#yes_radio[type="radio"]:checked+span:after, input#yes_radio[type="radio"].with-gap:checked+span:before, input#yes_radio[type="radio"].with-gap:checked+span:after {
    border: 2px solid red;
}

input#yes_radio[type="radio"]:checked+span:after, input#yes_radio[type="radio"].with-gap:checked+span:after {
    background-color: red;
}

input#no_radio[type="radio"]:checked+span:after, input#no_radio[type="radio"].with-gap:checked+span:before, input#no_radio[type="radio"].with-gap:checked+span:after {
    border: 2px solid gray;
}

input#no_radio[type="radio"]:checked+span:after, input#no_radio[type="radio"].with-gap:checked+span:after {
    background-color: gray;
}