
@font-face {
    font-family: 'Gotham Light';
    src: url(../fonts/Gotham\ Light.otf);
    font-weight: lighter;
}

@font-face {
    font-family: 'Gotham Medium';
    src: url(../fonts/Gotham\ Medium.otf);
    font-weight: normal;
}

@font-face {
    font-family: 'Gotham Bold';
    src: url(../fonts/Gotham\ Bold.otf);
    font-weight: bold;
}

body {
    font-family: 'Gotham Light', 'Gotham Bold';
	min-height : 100vh;
	display : flex;
    flex-direction : column;
}

b {
    font-family: 'Gotham Bold';
}

main {
    flex: 1 0 auto;
    overflow: hidden;
}

div.container.header {
	width: 100%;
}

a.brand-logo {
	padding-top: 5px;
}

img.svg-logo {
	width: 150px;
	height: auto;
}

img.svg-logo-res {
	width: 50px;
	height: auto;
}

i.nav-icon {
	width: 24px;
}

.user-view {
    margin: 0 !important;
    padding-top: 0 !important;
}

.divider {
    margin-top: 0 !important;
}

div#progressBarQuery {
    background-color: transparent;
}

div.indeterminate {
    background-color: #ffd600 !important;
}

/* Login-Register forms */
#modalLogin {
    width: 350px;
    height: 450px;
    overflow: hidden;
}

.login-register-content {
    padding: 0px !important;
    padding-top: 0 !important;
}

.tabs-rows {
    margin-bottom: 10px !important;
}

a.active {
    background-color: #ffd600 !important;
}

.indicator {
	background-color: #231F20 !important;
	opacity: 0.7;
}

div.modal-rows {
    margin-bottom: 10px;
}

div.modal-containers {
    width: 90%;
}

.modal-titles {
    margin-bottom: 0.5rem !important;
}
/* end Login-Register */

div.category-banner {
    background-image: url(../img/bg.png);
	background-size: cover;
    background: rgb(35,31,32);
    background-size: auto;
    background: linear-gradient(90deg, rgba(35,31,32,1) 0%, rgba(35,31,32,0.49933476808692223) 50%, rgba(255,255,255,0) 100%);
	background-repeat: no-repeat;
	background-position: left;
	height: 25vh;
}

h2.category-banner-title {
	color: white;
	margin: 0;
	position: relative;
	top: 30%;
	left: 5%;
}

footer {
    background-color: black !important;
	padding-top: 0 !important;
}