nav {
	background-color: #4169e1;
}

a.menu-item, i.nav-icon {
	color: white;
}

div#progress-bar {
    background: rgb(65,105,225);
    background: linear-gradient(90deg, rgba(65,105,225,1) 0%, rgba(65,105,225,0.5) 50%, rgba(65,105,225,0) 100%);
}

div.topic-banner {
	background-size: cover;
	background: rgb(65,105,225);
	background-size: auto;
	background: linear-gradient(90deg, rgba(65,105,225,1) 0%, rgba(65,105,225,0.5) 50%, rgba(65,105,225,0) 100%);
	background-repeat: no-repeat;
	background-position: left;
	height: 25vh;
}

h2.topic-title {
	color: white;
	margin: 0;
	position: relative;
	top: 30%;
	left: 5%;
}

footer {
    background-color: royalblue !important;
	padding-top: 0 !important;
}