.row-banners {
    margin-bottom: 0 !important;
}

nav {
	background-color: white;
}

a.menu-item, i.nav-icon {
	color: #231F20;
}

div.carousel.explore-products {
    height: 35.6vh;
    padding-top: 0;
}

div.carousel-item.explore-products{
    padding-top: 10px;
    width: 130px !important;
    height: 130px !important;
}

h6.product-name {
    margin-top: 5px;
}

img.responsive-img.footer-banners {
    margin: 0 !important;
    padding: 0 !important;
}