nav {
	background-color: #fff;
}

a.menu-item, i.nav-icon {
	color: #231F20 !important;
}

input.search-bar {
	margin-top: 1.3rem !important;
}

.collection {
	margin: 0;
}

div.card-image {
	background-color: transparent !important;
	width: 74%;
	left: 50px;
	top: 10px;
}

div.tabs-col {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

i.clear-btn:hover {
	color: red !important;
}

div.product-cart-overview {
	margin-bottom: 20px;
}

div.purchase {
	margin-bottom: 10px;
}